simulationStudy/simulations/*
!simulationStudy/simulations/.gitkeep
data_analysis/TCGA-PANCAN-HiSeq-801x20531/
data_analysis/gene_expression_data/
data_analysis/gene_expression_cancer_rna_seq.zip
data_analysis/output/*
!data_analysis/output/.gitkeep

.Rproj.user
